{%- set sshd_patterns = salt['grains.filter_by'](
  {
    "Amazon": {
      "default": {
        "pattern": "^auth\s+substack\s+password-auth$",
        "repl": "auth  required pam_duo.so"
      }
    },
    "CentOS": {
      "6": {
        "pattern": "^auth\s+include\s+password-auth$",
        "repl": "auth  required pam_env.so
        auth  sufficient pam_duo.so
        auth  required pam_deny.so"
      },
      "7": {
        "pattern": "^auth\s+substack\s+password-auth$",
        "repl": "auth  required pam_env.so
        auth  sufficient pam_duo.so
        auth  required pam_deny.so"
      }
    }
  },
  grain="os"
)%}
