# -*- coding: utf-8 -*-
# vim: ft=jinja
{% from "duo/defaults.yaml" import lookup_map with context %}
{% from "duo/defaults.yaml" import pam_map with context %}

{%- set sshd_patterns = salt['grains.filter_by'](pam_map, base="Debian") %}

{% set _g = salt['grains.get']('duo:lookup', {}) %}
{% set _p = salt['pillar.get']('duo:lookup', _g, merge=True) %}
{% set duo = salt['grains.filter_by'](lookup_map, merge=_p, base='default') %}
